Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-CORS
Pillow
requests
faker
PyJWT
psycopg2-binary
flask-caching
redis
celery
flask-socketio
gunicorn
python-dotenv
pytest
pytest-flask
flasgger
marshmallow
flask-limiter
marshmallow-sqlalchemy
pytest-cov